@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}
li {
	list-style-type: none;
	display: flex;
}
a {
	text-decoration: none;
}
header {
	background-color: #f6f6f6;
	padding: 20px 0;
}
.nav-container {
	width: 90%;
	margin: 0 auto;
}
.nav-container a {
	color: #000;
	font-size: 16px;
	padding: 27px 6px;
	margin-right: 63px;
}
.nav-container a:hover {
	background-color: #ffeb00;
}
nav {
	margin-top: 20px;
}
#menu-checkbox {
	display: none;
}

				/*BANER*/
.banner-top {
	background: #fff url(../img/slider_bg.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-transform: uppercase;
	padding-top: 120px;
	padding-bottom: 300px;
}
.banner-container {
	width: 85%;
	margin: 0 auto;
}
.banner-container div {
	margin: 3px;
}
.banner-container>.mb-10 {
	margin-top: 5px;
	margin-bottom: 15px;
}
.banner-top h2 {
	background-color: #ffeb00;
	color: #000;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}
.banner-top p {
  font-size: 24px;
  color: rgb(255, 255, 255);
  background-color: #3f3f44;
  padding: 0 4px;
  display: inline;
}
.specialize-container {
	width: 85%;
	margin: 0 auto;
	text-align: center;
}
.specialize-container h3 {
	font-size: 35px;
}
.specialize-container p {
	margin-top: 20px;
	font-size: 20px;
	margin-bottom: 20px;
}
.specialize-container>h3,
.specialize-container>p {
	text-transform: uppercase;
}
.card{
	width: 290px;
}
.first_p {
	font-size: 20px;
	color: #FFF;
	background-color: #3f3f44;
	padding: 30px;
	margin: 0;
	position: relative;
	bottom: 20px;
}
.first-p {
	font-size: 13px;
	color: #FFF;
	background-color: #3f3f44;
	padding: 30px;
	margin: 0;
	position: relative;
	bottom: 20px;
}
.top_card {
	background-color: #ffeb00;
	padding: auto;
	padding-top: 10px;
	height: 200px;
}
.top_card h4 {
	font-size: 20px;
}
.top_cart {
	background: #e5e8ef;
}
section {
	margin-bottom: 2vw;
}